@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    
   <h1 class="display-4">
   <b>     Welcome to .Net Class </b> 
</h1>
<h3 style="color:blue">This website has been made using ASP .Net Razor pages. This is a Project of Final Exam.</h3>

<img src="https://assets.weforum.org/article/image/JMF96ETfn1kSViVnUou1Z0XIDwWcPpT5mrPc7-ytpAc.jpg" alt="Sample Photo" width="80%"  />
</div>
